<% include ./partials/header %>

    <!-- content -->
    <a name="toTop">
    <div class="container">
        <h1>Archived Note Cards</h1>
        <hr class="archive-hr">
    </div>
    <div class="container-fluid">
        <div class="row" id="note-row">
            <!--<div class="col-md-2" id="user-input">-->
            <!--    <div class="card">-->
            <!--        <div class="card-block">-->
            <!--            <form id="new-note-form" action="/notes" method="POST">-->
            <!--                <textarea class="new-note-content" placeholder="What's on your mind?" name="text"></textarea>-->
                            <!--<input type="date" name="reminderDate" class="reminder-field">-->
                            <!--<input type="time" name="reminderTime" class="reminder-field">-->
            <!--                <div class="text-right new-note-btns">-->
                                <!--<button type="button" class="btn btn-secondary btn-sm reminder-btn"><i class="fa fa-calendar" aria-hidden="true"></i></button>-->
            <!--                    <button type="button" class="btn btn-secondary btn-sm checklist-btn"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>-->
            <!--                    <button type="submit" class="btn btn-secondary btn-sm" id="done-btn">Done</button>-->
            <!--                </div>-->
            <!--            </form>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            <% notes.forEach(function(note) { %>
                <% if(note.author.id.equals(currentUser._id) && note.archive === true) { %>
                    <div class="col-sm-6 col-md-4 col-lg-3 card-col">
                        <div class="card">
                            <div class="card-block">
                                <div class="dropdown">
                                  <button class="btn btn-secondary btn-sm dropdown-toggle more-options-btn" type="button" id="optionsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v fa-2" aria-hidden="true"></i>
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="optionsDropdown">
                                    <!--<button class="dropdown-item label-btn" type="button">Add Label</button>-->
                                    <button class="dropdown-item archive-btn disabled" type="button">Archive</button>
                                  </div>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-secondary btn-sm delete-card-btn" data-id="<%= note._id %>">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <form class="edit-note-form" action="/notes/<%= note._id %>" method="POST">
                                    <input type="hidden" class="archive-input is-archive" name="archiveValue" value="on">
                                  <input type="text" class="form-control title-text" name="title" placeholder="Title" value="<%= note.title %>">
                                    <% if(note.text !== null && note.text !== undefined) { %>
                                        <textarea class="note-content" name="text"><%= note.text %></textarea>
                                    <% } else { %>
                                        <% for(var i = 0; i < note.checklists.length; i++) { %>
                                            <div class="input-group">
                                              <span class="input-group-addon">
                                                <input type="hidden" name="checkbox-<%= note.checklists[i] %>" value="off">
                                                <input type="checkbox" class="ckbox" name="checkbox-<%= note.checklists[i] %>" aria-label="Checkbox for following text input" <%= note.checkboxes[i] ? 'checked' : null %>>
                                              </span>
                                              <input type="text" class="form-control note-text-input" aria-label="Text input with checkbox" name="checklists[]" value="<%= note.checklists[i] %>">
                                            </div>
                                        <% }; %>
                                    <% } %>
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-secondary btn-sm update-btn">Done</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        </div>
         <button type="button" class="btn btn-primary btn-lg" id="load-more-notes">Load More</button>
    </div>

<% include ./partials/footer %>
